{% extends 'base.html.twig' %}

{% block title %}Nouvel épisode{% endblock %}

{% block body %}
    <div class="m-5 container">
        <h1>Ajouter un nouvel épisode</h1>


    {{ include('episode/_form.html.twig') }}


    <a href="{{ path('episode_index') }}"><button type="button" class="btn btn-primary">Revenir aux épisodes</button></a>
    </div>
{% endblock %}
