{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="m-5 jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="d-flex justify-content-center display-4">Bienvenue sur le site Wild Series</h1>
                <p class="d-flex justify-content-center lead">Découvrez toutes les séries, les saisons et les épisodes
                    disponibles sur le site</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-around">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tester une série culte</h5>
                    <p class="card-text">Après une apocalypse ayant transformé la quasi-totalité de la population en
                        zombies,
                        un groupe d'hommes et de femmes mené par l'officier Rick Grimes tente de survivre.
                        Ensemble, ils vont devoir tant bien que mal faire face à ce nouveau monde.</p>
                    <a href="{{ path('wild_show', { 'slug': "walking-dead" }) }}">
                        <button type="button" class="btn btn-primary btn-lg">The Walking Dead</button>
                    </a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tout le catalogue</h5>
                    <p class="card-text">Wild Series est une entreprise multinationale, opérant dans le secteur
                        d'activité des industries créatives par la distribution et
                        l'exploitation d'œuvres cinématographiques et télévisuelles par le biais d'une plate-forme
                        dédiée.</p>
                    <a href="{{ path('wild_index') }}">
                        <button type="button" class="btn btn-secondary btn-lg">Faites votre choix</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
